/*Reset no CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Configuração da lista*/
ul {
  list-style: none;
}

/* Unidade de medida relativa: REM = Root EM */
/* 1 rem = (tamanho dos px na tela,no caso são 16px */

/* Configuração de Responsividade - tamanho da fonte */
:root {
  font-size: 62.5% /*equivale a 10px*/;
}

/*Configuração do body*/
body {
  background: #ECE9FD;
  font-family: 'Epilogue', sans-serif;
  padding: 6.0rem 2.3rem 7.7rem;

  font-size: 1.6rem;
}

/* Configuração do tamanho máximo da main */
main {
 max-width: 33rem; 
}

/*Configuração do conteúdo do body*/
main p:first-child {
  color: #7158EF;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem; 

  /* Espaçamento enttre as letras */
  letter-spacing: 3px;

  /* Transforma texto em letra maisúscula */
  text-transform: uppercase;

  margin-bottom: 1.7rem;
}

h1 {
  color: #090039;
  font-size: 4.0rem;
  font-weight: 800;
  line-height: 4.0rem; 

  
  margin-bottom: 1.5rem;

}

p {
  color: rgba(10, 0, 57, 0.64);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  

  margin-bottom: 3.2rem;

}

a {
  color: #090039;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;

  /* Remover subllinhado e decoração padrão de link */
  text-decoration: none;
}

/* Configuração de decoração personalizada ao link */
a:hover {
 font-weight: bold;
}

/* Configuração da lista */
ul li span {
  font-size: 7.2rem;
  font-weight: 800;
}

ul li {
  color: #090039;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem; 

  max-width: 25.7rem;

  display: flex;
  align-items: center;
  gap: 3.8rem;

  margin-top: 7.2rem;

  /* Espaçamento enttre as letras */
  letter-spacing: -2px;
}
  ul li + li {
    margin-top: 3.2rem;
  }

/* Media queries - responsável por fazer ajuste do tamanho da tela do dispositivo*/
@media ( min-width: 700px)  {
  body {
   padding: 8rem ;
  }

  main {
    max-width: 1020px;
    display: flex ;
    gap: 10rem;
  }

  main > div {
    max-width: 484px;
  }

  ul li {
   gap: 5.3rem;
   max-width: 450px;
   align-items: center;

  }

  
}
  